<div class="jumbotron jumbotron-fluid text-center">
  <div class="container mt-n4">
    <h1 class="display-3">Agenda</h1>
    <p class="lead">Lista com todos seus contatos.</p>
    {{>_messages}}
    <table class="table table-bordered table-hover table-dark text-center mt-4">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gabriel</td>
          <td>(12) 997012128</td>
          <td>gabrielmussolini@hotmail.com</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>