<div class="jumbotron jumbotron-fluid  text-center">
  <div class="container mt-n4">
    
    <h1 class="">Painel Admnistrativo</h1>
    <p class="">Sessão: {{user.email}}</p>
    {{>_messages}}
    <div class="row">
      <div class="col-lg">
        <h4>Cadastrar Contatos</h4>
      </div>
      <div class="col-lg">
        <h4>Editar Contatos</h4> 
      </div>
    </div>
  </div>
</div>